{% extends 'base.html' %}


{% block content  %}
<form action="{% url 'new_search' %}" method="post">
{% csrf_token %}
    <input type="text" name="search" placeholder="search" autofocus>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>

</form>
<div class="row">
{% for posting in postings %}
<div class="col s4">
      <div class="card">
        <div class="card-image">
            <a href="{{posting.1 }}"><img src="{{ posting.3 }}" alt=""></a>
        </div>
        <div class="card-content">
          <p>{{ posting.0 }}</p>
        </div>
        <div class="card-action">
          <a href="{{ posting.1 }}">View listing: Price {{ posting.2 }}</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}